/*
    Home page
*/

blockquote {
    padding: 0.8rem;
    clear: both;
    background: var(--colorBgQuote);
    border-radius: 0.5rem;
    @media only screen and (min-width: 720px) {
        margin: 0.5rem 0 0 1rem;
    }
    > p:last-of-type {
        margin-top: 0.5rem;
        text-indent: 2rem;
    }
}

@media only screen and (min-width: 720px) {
    img#home {
        float: right; 
        margin: 0 0 0.5rem 0.5rem;    
        width: auto;
    }
}